body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 16px;
    color: var(--black);
    background-color: var(--white);
}

button {
    outline: none;
    background: none;
}

.icon-button {
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    border: none;
    border-radius: 50px;
    background: none;
    color: black;
    transition: var(--transition);
}

.icon-button i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
}

.icon-button:hover,
.icon-button:focus {
    background-color: var(--white0);
}

input[type="text"] {
    flex-grow: 1;
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--accent);
    outline-color: var(--accent);
    border-radius: 5px;
    transition: var(--transition);
}
