:root {
    --transition: all 150ms linear;
    --boxShadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

    --black: #212121;

    --white: #ffffff;
    --white0: #f1f3f4;

    --accent: #38a557;

    --grey: #e5e5e5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: none;
}
