.todo-list {
    box-sizing: border-box;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.todo-list h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.todo-form {
    display: flex;
    margin-bottom: 20px;
}

.todo-form input[type="text"] {
    border-radius: 5px 0 0 5px;
}

.todo-form button {
    width: 40px;
    cursor: pointer;
    font-size: 16px;
    color: var(--accent);
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: var(--transition);
}

.todo-form button:hover,
.todo-form button:focus {
    outline: 0;
    color: var(--white);
    background-color: var(--accent);
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid var(--grey);
    background-color: var(--white);
    border-radius: 6px;
    margin-bottom: 20px;
    transition: var(--transition);
}

.todo input[type="checkbox" i] {
    transform: scale(1.5);
    margin: 0;
}

.todo input[type="checkbox"] {
    margin-bottom: 20px;
}

@media (min-width: 460px) {
    .todo input[type="checkbox"] {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media (min-width: 460px) {
    .todo {
        flex-direction: row;
        justify-content: space-between;
    }
}

.todo:hover {
    box-shadow: var(--boxShadow);
}

.todo:last-child {
    margin-bottom: 0;
}

.todo-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    flex: 1;
    margin-bottom: 20px;
}

@media (min-width: 460px) {
    .todo-text {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.todo-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
